/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'arial';
    background-color: rgb(65, 60, 60);
    color: white;
}
p{
    line-height: 1.5;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    text-align: center;
}
/*table*/
table{
    width: 500px;
    border: 1px solid white;
    border-collapse: collapse;
    margin-right: 20px;
    text-align: center;
}
td, th{
    border: 1px solid white;
    padding: 10px;
}
/*utilities*/
.active{
    color: rgb(12, 116, 121);
    font-weight: bold;
}

.text-primary{
    color: rgb(99, 97, 97)
}

.text-secondary{
    color: rgb(12, 116, 121);
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*nav*/
.menu-nav{
    height: 60px;
    background-color: white;
    padding-left: 20px;
}

.menu-nav a{
    margin-right: 30px;
}

.menu-nav a:hover{
    color: rgb(12, 116, 121);
}
/*header*/
.my-info{
    padding-top: 30px;
    text-align: center;
}

.my-info img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.my-info h1{
    font-weight: 400;
    font-size: 42px;
    font-family: inherit;
}

.my-info p{
    font-size: 22px;
    font-family: inherit;
}

/*main*/

.main-flex{
    display: flex;
    justify-content: space-between; /*horizontal*/
    align-items: center; /*vertical*/
    height: 70vh; /*70% of the viewport height*/
}

header{
    width: 40%;
}

.interest-flex{
    display: flex;
    justify-content: flex-start;
    margin-left: 130px;
}

/*publications*/
.publication-title{
    color: rgb(12, 116, 121);
    font-size: 24px;
    font-weight: 400;
}

.publication-authors{
    font-size: 14px;
    color: #989191;    
}

.publication-link{
    color: rgb(12, 116, 121);
    border: 1px solid rgb(12, 116, 121);
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
    margin-right: 5px;
}

.publication-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.publication-authors:hover{
    color: rgb(12, 116, 121);
    text-decoration: underline;
    cursor: pointer;
}

.publication-link:hover{
    background-color: rgb(12, 116, 121);
    color: white;
    cursor: pointer;
}

/*portfolio*/
.top-messages {
    text-align: center;
    margin-right: 200px;
}
.portfolio-container {
    width: 100%;
    margin-left: auto;
    margin-right: 250px;
    margin-top: 20px;
}
.porfolio-table {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    margin-right: 20px 0;
    text-align: center;
}

.porfolio-table th, td {
    border: 1px solid white;
    padding: 10px;
    word-wrap: break-word;
    min-width: 200px;
    text-align: left;
}

.pj1{
    color: white;
}

.pj2{
    color: white;
}

.pj3{
    color: white;
}

.pj1:hover {
    color: black;
    background-color: rgb(12, 116, 121);
    text-decoration: underline;
    cursor: pointer;
}

.pj2:hover {
    color: black;
    background-color: rgb(12, 116, 121);
    text-decoration: underline;
    cursor: pointer;
}

.pj3:hover {
    color: black;
    background-color: rgb(12, 116, 121);
    text-decoration: underline;
    cursor: pointer;
}

tr:nth-child(odd) { /* even or odd */
    background-color: rgb(99, 97, 97);
}

/*project*/

/*.project-flex{
/*    display: flex;
/*    justify-content: center; /*horizontal*/
/*    align-items: center; /*vertical*/
/*}*/

.project-container{
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.project-container h1{
    text-align: left;
    margin-bottom: 5px;
}

.project-container p{
    text-align: left;
}

.project-container img{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.project-container h2{
    text-align: left;
    padding-top: 10px;
}

.project-text{
    text-align: left;
    padding-top: 10px;
}

.project-image{
    display: block;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
