/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'arial';
    background-color: rgb(65, 60, 60);
    color: white;
}
p{
    line-height: 1.5;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    text-align: center;
}
/*utilities*/
.active{
    color: rgb(12, 116, 121);
    font-weight: bold;
}

.text-primary{
    color: rgb(99, 97, 97)
}

.text-secondary{
    color: rgb(12, 116, 121);
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*nav*/
.menu-nav{
    height: 60px;
    background-color: white;
    padding-left: 20px;
}

.menu-nav a{
    margin-right: 30px;
}

.menu-nav a:hover{
    color: rgb(12, 116, 121);
}
/*header*/
.my-info{
    padding-top: 30px;
    text-align: center;
}

.my-info img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.my-info h1{
    font-weight: 400;
    font-size: 42px;
}

.my-info p{
    font-size: 22px;
}

/*main*/